<div *ngIf="model">

  <div class="row mt-4">
    <div class="col-lg-8 col-md-7 col-12">

      <div class="card">
        <div class="card-header d-flex justify-content-between mt-3">
          <h5 class="mr-3  my-auto" [translate]="'OpenBadges.BadgeClasses.RulesDetails'"></h5>
        </div>
        <div class="card-body pt-0 pb-3">
          <a class="btn btn-md bg-color-theme text-light mt-2" href="#/badges/classes/{{model?._id}}/dashboard/overview/(modal:credentials/{{model?.educationalCredentials?.id}}/rules)"
            [translate]="'OpenBadges.BadgeClasses.EditRules'"></a>
        </div>
      </div>

    </div>
    <router-modal></router-modal>
    <div class="col-lg-4 col-md-5 col-12">

      <div class="card">
        <div class="card-header d-flex justify-content-between mt-3">
          <h5 class="mr-3  my-auto" [translate]="'OpenBadges.BadgeClasses.Details'"></h5>
        </div>
        <div class="card-body pt-0 pb-3">
          <div class="card-text row">
            <div class="col-12  text-dark">
              <img src="{{model?.image.contentUrl}}" style="height: 2em;">
              <span>
                {{model?.name}}
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer border-top py-4 text-secondary">
          <div class="form-group row mb-1" *ngFor="let field of fields">
            <div class="col-5">
              <span [translate]="field.name"></span>
            </div>
            <div class="col-7 text-dark">
              <span>{{field.value}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>