<div class="col-12 tab-navbar tab-container">
  <ul class="nav d-flex">
    <li class="tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [ngClass]="{'disabled': referrerRoute.commands.length === 0 }" [queryParams]="referrerRoute.queryParams" [routerLink]="referrerRoute.commands">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'OpenBadges.BadgeClasses.Title'"></span></a>
    </li>
  </ul>
  <div class="row pt-2 pb-2" *ngIf="model">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="model">
        {{model.name}}
      </h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="model">
      <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
    </div>
  </div>
  <div class="row pt-2 pb-2" *ngIf="!model">
    <div class="col-auto">
      <h1 class="text-dark">
        <span [translate]="'OpenBadges.BadgeClasses.NewTitle'"></span></h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
