<div *ngIf="model">

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="card-title font-xl text-dark  my-auto" [translate]="'OpenBadges.BadgeAssertions.Details'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="hstack gap-3">
        <div class="text-center mb-3">
          <div>
            <img [src]="this.model.id + '/image'" class="badge-image badge-image-12">
          </div>
          <!-- <div><span>{{student?.person?.givenName}} {{student?.person?.familyName}}</span></div> -->
        </div>
        <div>
          <div class="form-group row mb-1" *ngFor="let field of fields">
            <div class="col-5">
              <span [translate]="field.name"></span>
            </div>
            <div class="col-7 text-dark">
              <span>{{field.value}}</span>
            </div>
          </div>
          <div *ngIf="model.recipient?.identity !== model.student?.person?.email" class="m-3 alert alert-warning">
            <div>
              <span [translate]="'OpenBadges.BadgeAssertions.DifferentEmail'"></span>:
            </div>
            <div>
              {{model.recipient?.identity}} &rarr; {{model.student?.person?.email}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-text row">
        <div class="col-6">
          <a class="btn btn-md bg-color-theme text-light w-100 mt-2" [href]="badgeImageUrl"
            [download]="badgeImageFilename" [translate]="'OpenBadges.BadgeAssertions.DownloadAssertion'"></a>
        </div>
        <div class="col-6">
          <a class="btn btn-md bg-white border-dark w-100 mt-2" [href]="this.model.id + '/image'" target="_blank"
            [translate]="'OpenBadges.BadgeAssertions.ShareAssertion'"></a>
        </div>
      </div>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-8 col-md-7 col-12">
      <details>
        <summary>JSON representation</summary>
        <div>
          <pre>{{badgeData}}</pre>
        </div>
      </details>
    </div>
  </div>
</div>
