<div class="row">
  <div class="col-auto mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'OpenBadges.Students'"></span>
    </div>
  </div>
  <div class="pull-right ml-auto mr-3 mt-3">
    <div class="font-lg btn-toolbar mt-3">
      <a *ngIf="this.students && this.students.selected && this.students.selected.length"
        class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
        <span>-</span><span>&nbsp;</span><span [translate]="'OpenBadges.RemoveStudent'"></span>
      </a>
      <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
        <span>+</span><span>&nbsp;</span><span [translate]="'OpenBadges.AddStudent'"></span>
      </a>
    </div>
  </div>
</div>

<div class="col-md-12">
  <app-advanced-table #students [selectable]="true" (load)="onDataLoad($event)"></app-advanced-table>
</div>

<router-modal></router-modal>
