<div>
    <div class="row">
      <div class="col-12" [ngVar]="{}" #filter="ngVar">
        <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]>
          <advanced-search>
            <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
              [(filter)]="filter.value"></app-advanced-search-form>
          </advanced-search>
        </app-advanced-table-search>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mt-3">
        <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'OpenBadges.BadgeClasses.Title'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'OpenBadges.BadgeClasses.TitleSingular'"></span>
        </div>
      </div>
      <ng-container>
        <div class="pull-right ml-auto mr-3 mt-3">
          <div class="btn-group" *ngIf="this.table && this.table.selectable">
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button"
                    [translate]="'Students.Actions'">
            </button>
            <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
              <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="col-12 mb-4">
        <app-advanced-table #table [autoLoad]="false" [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
      </div>
    </div>
    <router-modal></router-modal>
  </div>
  